* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #892DE1;
}

.navbar__s2 {
    border: solid black 1px;
    width: 60%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;

}

.navbar__s2 input {
    width: 100%;
    border: none;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s4 {
    display: none;
}

.mylearning {
    position: relative;
    cursor: pointer;
}

.mylearning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    width: 100px;
    top: 30px;
    right: 0;
    display: none;
}

.mylearning:hover .mylearning__popup {
    display: block;
}

.categories {
    display: flex;
    border-bottom: solid black 1px;
    padding: 10px;
    justify-content: space-between;
    margin: 10px;

}

.categories p {
    background-color: #892DE1;
    padding: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    border: solid #892DE1 1px;
}

.categories p:hover {
    background-color: transparent;
    transition: 1s;
    color: #892DE1;


}

.Sale-image img {
    width: 100%;
    position: relative;
}

.sale-image__offer {
    border: solid black 2px;
    width: 30%;
    position: absolute;
    top: 30%;
    left: 100px;
    padding: 20px;
    background-color: white;
    animation-name: zoom;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;

}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.recommended {
    padding: 10px;
}


.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course__card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course__card img {
    width: 100%;
    height: 50%;
    border: 2px solid black;

}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    text-align: center;

}

.topics__container p {
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    background-color: orchid
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    background-color: black;
    color: white;
    padding: 30px;
}

.footer__one {
    display: flex;
    gap: 20px;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
}

/* Media queries*/
@media screen and (max-width:800px) {
    body {
        font-size: 10px;

    }

}

@media screen and (max-width:600px) {
    .course__card {
        flex-basis: 40%;

    }

    .categories {
        display: none;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .sale-image__offer {
        top: 50px;
        right: 10px;
        width: 30%;

    }

    .navbar__s4 {
        display: block;
    }
}